// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: Sketch;
    src: url(/fonts/Sketch.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(/fonts/Coolvetica.ttf);
}

.active a {
    color: red;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.nameLogo{
    font-size: 50px;
    font-family: Sketch;
    padding: 20px 10px 2px 0px;
}

.imgLogo{
    margin-top: -10px;
}

.h-screen{
    height: 100vh;
}

.sombra-title{
    text-shadow: 2px 2px 4px #000000;
}

.sombra-title-verde {
    text-shadow: 2px 2px 4px #18b586;
}

.menu-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8); 
}

.mostrar-link {
    display: block;
    color: #000000;
}

.fondo {
    z-index: 1;
}

.fondo2 {
    z-index: 1;
}

.bienvenida {
    position: absolute;
    margin-top: -35vw;
    width: 100%;
    text-align: center;
    // margin-left: 7%;
    // justify-content: center;
    // background-color: #000;
}

.tamanoEspacio{
    width: 90%;
}

.msg-bienvenida { 
    color: white;
    font-size: 4vw;
    font-weight: bold;
    font-family: Coolvetica;
    letter-spacing: 2px;
}

.msg-bienvenida-noticias { 
    color: white;
    font-size: 6vw;
    font-weight: bold;
    font-family: Coolvetica;
    letter-spacing: 2px;
}
.title{
    color: white;
    font-size: 4vw;
    font-weight: bold;
    font-family: Coolvetica;
    letter-spacing: 2px;
}
.buscar {
    position: absolute;
    margin-top: -18vw;
    margin-left: 7%;
    width: 25vw;
}

.btn-buscar {
    font-weight: bold;
}

.bajar-cont-card {
    position: absolute;
    margin-top: 17vw;
}

.parrafo-largo {
    text-align: justify;
}

.carrusel-foto {
    position: absolute;
    margin-top: -45vw;
    margin-left: 12%;
}

.presupuesto{
    position: relative;
    margin-top: -25vw;
    margin-bottom: 5vw;
}

.container-carrusel{
    margin: 0 auto;
    padding: 2vw 2vw;   
    box-shadow: 0px 0px 10px #000;
    border-radius: 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    background-color:rgba(255, 255, 255, 0.5);
    width: 60vw;
}

.espaciado {
    margin-bottom: 25vw;
}

.espaciado2 {
    margin-bottom: 7vw;
}

.contayner{
    height: auto;
    margin: auto;
    width: 95%;
}

.labelContainer {
    display: flex;
    box-shadow: 0px 0px 5px #000000;
    height: 7vw;
    border-radius: 0.5vw;
    -moz-border-radius:  0.5vw 0.5vw 0.5vw 0.5vw;
    -webkit-border-radius:  0.5vw 0.5vw 0.5vw 0.5vw;
}

.cajaD input[type="radio"] {
    display: none;
}
.cajaD {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.cajaDer {
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    -moz-border-radius: 0.5vw 0vw 0vw 0.5vw;
    -webkit-border-radius:  0.5vw 0vw 0vw 0.5vw;
}
.cajaIzq { 
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    -moz-border-radius: 0vw 0.5vw 0.5vw 0vw;
    -webkit-border-radius:  0vw 0.5vw 0.5vw 0vw;
}
.cajaD .span {
    position: relative;
    justify-content: center;
    z-index: 2;
}
.cajaD .span:before,
.cajaD .span:after {
    content: "";
}
.cajaD .span:before {
    display: flex;
}
.cajaD .span:after {
    background: #18b586;
    width: 10vw;
    height: 7vw;
    position: absolute;
    left: 0px;
    transition: 300ms;
    opacity: 0;
    z-index: 1;
}
.cajaD .spanDer{
    position: relative; 
    z-index: 2;
}
.cajaD .spanDer:after {
    background: #18b586;
    width: 10vw;
    height: 7vw;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    -moz-border-radius: 0.5vw 0vw 0vw 0.5vw;
    -webkit-border-radius:  0.5vw 0vw 0vw 0.5vw;
    transition: 300ms;
    z-index: 1;
}
.cajaD .spanIzq{
    position: relative;
    z-index: 2;
}
.cajaD .spanIzq:after {
    background: #18b586;
    width: 10vw;
    height: 7vw;
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    -moz-border-radius: 0vw 0.5vw 0.5vw 0vw;
    -webkit-border-radius:  0vw 0.5vw 0.5vw 0vw;
    transition: 300ms;
    z-index: 1;
}
.cajaD input:checked + .span:after {
opacity: 1;
}
.cajaD .span img {
    width: 80%;
    height: 4vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
    position: absolute;
    justify-content: center;
    z-index: 2;
}
.cajaD .span p {
    position: absolute;
    width: 100%;
    font-size: 1.3vw;
    margin-top: 5vw;
    text-align: center;
    z-index: 3;
}

.tocado {
    box-shadow: 0vw 0vw 1vw #000000; 
}

.tocado:hover {
    box-shadow: 0vw 0vw 1vw #069c6f; 
}

.contenido-fauna {
    position: absolute  ;
    width: 70%;
    margin-top: -40vw;
    margin-left: 12vw;
    font-size: 2vw;
    font-weight: 700;
    z-index: 2;
    text-align: justify;
    line-height: 2.5vw;
    box-shadow: 0px 0px 5px #000000;
    background-color: rgb(255, 255, 255, 0.5);
}

//*! sigue el contenido para la pagina de las noticias

.noticias_principales{
    z-index: 2;
    position: absolute;
    margin-top: -22vw;
    width: 100%;
    margin-bottom: 4vw;
    text-decoration: none;
}

.card-principal-up{
    width: 85%;
    z-index: 100;
}

.card-principal-down{
    width: 85%;
    margin-top: 15vw;
    z-index: 100;
}

.decoracion{
    position: absolute;
    z-index: 1;
    margin-top: 7vw;
    margin-left: 30vw;
    width: 40vw;
    height: 40vw;
    background-color: #08ba85;
    opacity: 0.4;
    border-radius: 2vw;
}
.noticias_secundarias{
    margin-top: 40vw;
}
.card-secundario{
    width: 80%;
}

//*! sigue el contenido para la pagina de detalle de las noticias

.tituloDetalleNoticia{
    width: 80%;
    margin-bottom: 3vw;
    // background-color: cadetblue;
    
}
.textoNoticia{
    letter-spacing: 0.1vw; 
    line-height: 1.8vw; 
    font-size: 1.8vw; 
    text-align: justify; 
    white-space: pre-line;
}
.contenidoNoticia{
    position: relative;
    margin-top: -20vw;
    margin-bottom: 5vw;
}
.fondoTexto{
    background-color: rgba(255, 255, 255, 0.578); 
    font-weight: bold; 
    padding: 1.5vw;
    border-radius: 1.5vw;
}

//*! sigue el contenido para la pagina de contactos

.imgMapa{
    margin-left: 1vw;
}

.contacto{
    position: relative;
    margin-top: -25vw;
    margin-bottom: 5vw;
}

.title2{
    color: #fff;
    font-weight: 700;
    font-size: 2vw;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
}

.eleccion {
    background-color: rgba(18, 184, 134,0.5);
}

.menuAbout {
    display: flexbox;
    text-align: center;
    width: 100%;
    font-size:1.5vw;
    font-weight: bold;
}

.menuAbout a {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    // margin-top: 1vw;
    padding: 1vw 1vw 1vw; 
}

.contenidoAbout {
    width: 100%;
    margin: auto;
}
.contenidoAbout p {
    font-weight: 600;
    text-align: justify;
    letter-spacing: 2px;
}
.masDatos {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 5vw;
    padding: 0px 0px 20px;
}
.titleMasDatos { 
    text-align: center;
    padding: 20px 0px 20px;
}
.titleMasDatos h2 {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 5vw;
    font-family: Coolvetica;
    letter-spacing: 3px;
}
.iconosMasDatos {
    display: flex;  
    width: 95%; 
    margin:auto;
}
.cajaPor5 {
    text-align: center;
    margin: auto;
}
.cajaPor5 img {
    width: 5vw;
    height: 5vw;
}
.cajaPor5 h2 {
    font-weight: bold;
    font-size: 2.5vw;
    color:#18b586;
}
.cajaPor5 p {
    font-size: 2vw;
}

@media screen and (max-width: 1440px) {
.cajaD .spanIzq:after {
    width: 10.5vw;
}
.bienvenida{
    width: 70vw;
    margin-left: 10%;
}
.carrusel-foto {
    margin-left: 15%;
}

.noticias_secundarias{
    margin-top: 45vw;
}

.decoracion{
    position: absolute;
    z-index: 1;
    margin-top: 7vw;
    margin-left: 25vw;
    width: 650px;
    height: 650px;
    background-color: #18b586;
    opacity: 0.4;
}
}

@media screen and (max-width: 1025px) {
.buscar {
    width: 35vw;
}
.bienvenida{
    margin-top: -38vw;
    width: 70vw;
}
.msg-bienvenida { 
    font-size: 5vw;
}
.msg-bienvenida-noticias{
    font-size: 6vw;
}
.bajar-cont-card {
    margin-top: 12vw;
    margin-left: -2.5vw;
}

.bajar-cont-card p {
    line-height: 2.5vw;
}

.carrusel-foto {
    margin-top: -65vw;
    margin-left: 1vw;
}

.container-carrusel{
    width: 90vw;
}

.espaciado {
    margin-bottom: 50vw;
}

.contayner{
    height: auto;
    margin: auto;
    width: 100%;
}

.labelContainer {
    display: flex;
    box-shadow: 0px 0px 5px #000000;
    height: 10vw;
    border-radius: 0.5vw;
    -moz-border-radius:  0.5vw 0.5vw 0.5vw 0.5vw;
    -webkit-border-radius:  0.5vw 0.5vw 0.5vw 0.5vw;
}

.cajaD input[type="radio"] {
    display: none;
}
.cajaD {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.cajaDer {
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    -moz-border-radius: 0.5vw 0vw 0vw 0.5vw;
    -webkit-border-radius:  0.5vw 0vw 0vw 0.5vw;
}
.cajaIzq { 
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    -moz-border-radius: 0vw 0.5vw 0.5vw 0vw;
    -webkit-border-radius:  0vw 0.5vw 0.5vw 0vw;
}
.cajaD .span {
    position: relative;
    justify-content: center;
    z-index: 2;
}
.cajaD .span:before,
.cajaD .span:after {
    content: "";
}
.cajaD .span:before {
    display: flex;
}
.cajaD .span:after {
    background: #18b586;
    width: 11vw;
    height: 10vw;
    position: absolute;
    left: 0px;
    transition: 300ms;
    opacity: 0;
    z-index: 1;
}
.cajaD .spanDer{
    position: relative; 
    z-index: 2;
}
.cajaD .spanDer:after {
    background: #18b586;
    width: 11vw;
    height: 10vw;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    -moz-border-radius: 0.5vw 0vw 0vw 0.5vw;
    -webkit-border-radius:  0.5vw 0vw 0vw 0.5vw;
    transition: 300ms;
    z-index: 1;
}
.cajaD .spanIzq{
    position: relative;
    z-index: 2;
}
.cajaD .spanIzq:after {
    background: #18b586;
    width: 11.5vw;
    height: 10vw;
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    -moz-border-radius: 0vw 0.5vw 0.5vw 0vw;
    -webkit-border-radius:  0vw 0.5vw 0.5vw 0vw;
    transition: 300ms;
    z-index: 1;
}
.cajaD input:checked + .span:after {
opacity: 1;
}
.cajaD .span img {
    width: 85%;
    height: 4vw;
    margin-left: 1vw;
    margin-top: 2vw;
    position: absolute;
    justify-content: center;
    z-index: 2;
}
.cajaD .span p {
    position: absolute;
    width: 100%;
    font-size: 1.7vw;
    margin-top: 7vw;
    text-align: center;
    z-index: 3;
}

.contenido-fauna {
    width: 85%;
    margin-top: -45vw;
    margin-left: 2.5vw;
    font-size: 2.5vw;
    font-weight: 600;
    text-align: justify;
    line-height: 3vw;
}

.noticias_principales{
    margin-top: -25vw;
}

.noticias_secundarias{
    margin-top: 45vw;
}

.decoracion{
    position: absolute;
    z-index: 1;
    margin-top: 7vw;
    margin-left: 23vw;
    width: 500px;
    height: 500px;
    background-color: #18b586;
    opacity: 0.4;
}


}

@media screen and (max-width: 769px) {
.buscar {
    margin-top: -15vw;
    margin-left: 7%;
    width: 40vw;
}
.bienvenida{
    // margin-top: -35vw;
    margin-left: 10%;
    width: 70vw;
}
.msg-bienvenida { 
    font-size: 5vw;
}
.msg-bienvenida-noticias{
    font-size: 5vw;
}
.bajar-cont-card {
    margin-top: 3vw;
    margin-left: -2.5vw;
}

.bajar-cont-card p {
    line-height: 2.5vw;
}

.carrusel-foto {
    margin-top: -70vw;
    margin-left: -1.68vw;
}

.container-carrusel{
    width: 94vw;
}

.espaciado {
    margin-bottom: 55vw;
}

.contayner{
    height: auto;
    margin: auto;
    width: 100%;
}

.labelContainer {
    display: flex;
    box-shadow: 0px 0px 5px #000000;
    height: 12vw;
    border-radius: 0.5vw;
    -moz-border-radius:  0.5vw 0.5vw 0.5vw 0.5vw;
    -webkit-border-radius:  0.5vw 0.5vw 0.5vw 0.5vw;
}

.cajaD input[type="radio"] {
    display: none;
}
.cajaD {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.cajaDer {
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    -moz-border-radius: 0.5vw 0vw 0vw 0.5vw;
    -webkit-border-radius:  0.5vw 0vw 0vw 0.5vw;
}
.cajaIzq { 
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    -moz-border-radius: 0vw 0.5vw 0.5vw 0vw;
    -webkit-border-radius:  0vw 0.5vw 0.5vw 0vw;
}
.cajaD .span {
    position: relative;
    justify-content: center;
    z-index: 2;
}
.cajaD .span:before,
.cajaD .span:after {
    content: "";
}
.cajaD .span:before {
    display: flex;
}
.cajaD .span:after {
    background: #18b586;
    width: 11vw;
    height: 12vw;
    position: absolute;
    left: 0px;
    transition: 300ms;
    opacity: 0;
    z-index: 1;
}
.cajaD .spanDer{
    position: relative; 
    z-index: 2;
}
.cajaD .spanDer:after {
    background: #18b586;
    width: 11vw;
    height: 12vw;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    -moz-border-radius: 0.5vw 0vw 0vw 0.5vw;
    -webkit-border-radius:  0.5vw 0vw 0vw 0.5vw;
    transition: 300ms;
    z-index: 1;
}
.cajaD .spanIzq{
    position: relative;
    z-index: 2;
}
.cajaD .spanIzq:after {
    background: #18b586;
    width: 11vw;
    height: 12vw;
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    -moz-border-radius: 0vw 0.5vw 0.5vw 0vw;
    -webkit-border-radius:  0vw 0.5vw 0.5vw 0vw;
    transition: 300ms;
    z-index: 1;
}
.cajaD input:checked + .span:after {
opacity: 1;
}
.cajaD .span img {
    width: 85%;
    height: 4vw;
    margin-left: 1vw;
    margin-top: 3vw;
    position: absolute;
    justify-content: center;
    z-index: 2;
}
.cajaD .span p {
    position: absolute;
    width: 100%;
    font-size: 1.7vw;
    margin-top: 8vw;
    text-align: center;
    z-index: 3;
}

.contenido-fauna {
    width: 95%;
    margin-top: -51vw;
    margin-left: -3.8vw;
    font-size: 3vw;
    font-weight: 600;
    text-align: justify;
    line-height: 3.8vw;
}

.noticias_principales{
    margin-top: -20vw;
}

.noticias_secundarias{
    margin-top: 60vw;
}

.decoracion{
    position: absolute;
    z-index: 1;
    margin-top: 7.5vw;
    margin-left: 20vw;
    width: 400px;
    height: 400px;
    background-color: #18b586;
    opacity: 0.4;
}

}

@media screen and (max-width: 426px) {
.buscar {
    margin-top: -15vw;
    margin-left: 7%;
    width: 70vw;
}
.bienvenida{
    margin-top: -40vw;
    margin-left: 7%;
    width: 80vw;
}
.msg-bienvenida { 
    font-size: 6.5vw;
}
.msg-bienvenida-noticias{
    font-size: 10vw;
}
.title{
    color: white;
    font-size: 10vw;
    font-weight: bold;
    font-family: Coolvetica;
    letter-spacing: 2px;
}
.bajar-cont-card {
    margin-top: 50vw;
}

.bajar-cont-card p {
    line-height: 4vw;
}

.carrusel-foto {
    margin-top: -84vw;
    margin-left: 0.46vw;
}

.container-carrusel{
    width: 94vw;
}

.espaciado {
    margin-bottom: 70vw;
}

.contayner{
    height: auto;
    margin: auto;
    width: 100%;
}

.labelContainer {
    display: flex;
    box-shadow: 0px 0px 5px #000000;
    height: 15vw;
    border-radius: 0.5vw;
    -moz-border-radius:  0.5vw 0.5vw 0.5vw 0.5vw;
    -webkit-border-radius:  0.5vw 0.5vw 0.5vw 0.5vw;
}

.cajaD input[type="radio"] {
    display: none;
}
.cajaD {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.cajaDer {
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    -moz-border-radius: 0.5vw 0vw 0vw 0.5vw;
    -webkit-border-radius:  0.5vw 0vw 0vw 0.5vw;
}
.cajaIzq { 
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    -moz-border-radius: 0vw 0.5vw 0.5vw 0vw;
    -webkit-border-radius:  0vw 0.5vw 0.5vw 0vw;
}
.cajaD .span {
    position: relative;
    justify-content: center;
    z-index: 2;
}
.cajaD .span:before,
.cajaD .span:after {
    content: "";
}
.cajaD .span:before {
    display: flex;
}
.cajaD .span:after {
    background: #18b586;
    width: 11vw;
    height: 15vw;
    position: absolute;
    left: 0px;
    transition: 300ms;
    opacity: 0;
    z-index: 1;
}
.cajaD .spanDer{
    position: relative; 
    z-index: 2;
}
.cajaD .spanDer:after {
    background: #18b586;
    width: 11vw;
    height: 15vw;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    -moz-border-radius: 0.5vw 0vw 0vw 0.5vw;
    -webkit-border-radius:  0.5vw 0vw 0vw 0.5vw;
    transition: 300ms;
    z-index: 1;
}
.cajaD .spanIzq{
    position: relative;
    z-index: 2;
}
.cajaD .spanIzq:after {
    background: #18b586;
    width: 11vw;
    height: 15vw;
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    -moz-border-radius: 0vw 0.5vw 0.5vw 0vw;
    -webkit-border-radius:  0vw 0.5vw 0.5vw 0vw;
    transition: 300ms;
    z-index: 1;
}
.cajaD input:checked + .span:after {
opacity: 1;
}
.cajaD .span img {
    width: 85%;
    height: 4vw;
    margin-left: 1vw;
    margin-top: 5vw;
    position: absolute;
    justify-content: center;
    z-index: 2;
}
.cajaD .span p {
    position: absolute;
    width: 100%;
    font-size: 1.7vw;
    margin-top: 10vw;
    text-align: center;
    z-index: 3;
}

.contenido-fauna {
    width: 95%;
    margin-top: -55vw;
    margin-left: -9vw;
    font-size: 3vw;
    font-weight: 800;
    text-align: justify;
    line-height: 3.8vw;
}

.noticias_principales{
    position: absolute;
    margin-top: -10vw;
    width: 94%;
    margin-bottom: 4vw;
}

.card-principal-up{
    width: 80%;
    z-index: 3  ;
}

.card-principal-down{
    width: 80%;
    z-index: 3;
}

.decoracion{
    position: absolute;
    z-index: 1;
    margin-top: 85vw;
    margin-left: 27vw;
    width: 200px;
    height: 200px;
    background-color: #18b586;
    opacity: 0.4;
}
.noticias_secundarias{
    margin-top: 220vw;
    // width: 94%;
}
.card-secundario{
    width: 80%;
}


}


